.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.space {
    margin: 10px 0;
}


.nav-container {
    height: 75px;
}
.fa-check-circle {
    color: green;
}
.fa-times-circle {
    color: red;
}
.fa-question-circle {
    color: orange;
}



h1 {
    padding-bottom: 10px;
}
h2 {
    padding-bottom: 5px;
    padding-top: 5px;
}
h3 {
    padding-bottom: 5px;
}