<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/status.css"/>

    <script src="/webjars/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>

    <script type='text/javascript'>
        $(document).ready(function() {
            $('#hasFinished').each(function () {
                var text = $(this).text().toUpperCase();
                if (text === "TRUE") {
                    $(this).css('color', 'green').css('font-weight', 'bold');
                }
            });
        });
    </script>
</head>

<body>
<div>
    <table>
        <thead>
            <tr>
                <th>Lag</th>
                <th>Ferdig</th>
                <th>IP</th>
                <th>FinTime</th>
                <th>TimeSpent</th>
            </tr>
        </thead>
        <tr th:each="team : ${teams}">
            <td th:text="${team.name}"></td>
            <td id="hasFinished" th:text="${team.hasFinished}"></td>
            <td th:text="${team.hostIp != null} ? ${team.hostIp} : '-'"></td>
            <td th:text="${team.finishingTime != null} ? ${team.finishingTime} : '-'"></td>
            <td th:text="${team.timeSpent != null} ? ${team.timeSpent} : '-'"></td>
        </tr>
    </table>
</div>

</body>
</html>